.container{
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons{
    border: 2px solid coral;
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.results {
    border: 2px solid salmon;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    text-align: center;
}

.contenders{
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    gap: 14px;
}

button{
    padding: 24px;
    border-style: none;
}