.container{
    height: 500px;
    width: 800px;
    margin: auto;
    background-color: peachpuff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
}

.buttons{
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    text-align: center;
    font-family: monospace;
    font-size: large;
    padding: 14px;
}

.contenders{
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    gap: 14px;
}

button{
    padding: 24px;
    border: none;
    background-color: coral;
    color: white;
    font-family: monospace;
    font-size: larger;
    width: 150px;
    border-radius: 8px;
    margin-top: 12px;
    transition-duration: 0.4s;
}

button:hover{
    background-color:indianred;
}